html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-size: cover;
}

.button { 
  width: 200px;
  background: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 30px 40px;
  backdrop-filter: blur(20px);
  display:flex;
  align-items:center;
  justify-content:center;
}

a {
  color: white;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  padding: 20px 30px;
  display: block;
  font-size: x-large;
  font-weight: 900;
}
